@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: #f4f7fb;
}

/* LAYOUT */
.container {
    display: flex;
}

/* TOPBAR */
.topbar {
    height: 60px;
    background: #77AEBA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
    color: white;
    font-size: 20px;
}
.topbar .menu {
    display: flex;
    gap: 25px;
}
.topbar .menu a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #1e1e2f;
    color: white;
    height: calc(300vh - 60px);
    padding: 20px;
}

.sidebar button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #618d96;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
}
.sidebar button:hover {
    background: #313b54;
}

/* MAIN */
.main {
    flex: 1;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
  margin-top: 0;
  padding: 0px;
}

/* Todo son cards, el calendario, los forms, modals, todo lo que quede con bordes redondeados mas prolijo */
.card {
    background: white;
    width: 1350px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
    font-size: 20px;
    margin: 20px auto;
}
.card input {
    margin-bottom: 30px;
}
.card button {
    display: inline-block;
    width: auto;

    padding: 10px 18px;
    margin: 10px 8px 0 0;

    font-size: 16px;
    font-weight: 600;

    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.card button:hover {
    background: #bbdfe7;
}
/* El dashboard de Inicio para el paciente */
.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/* El dashboard usa cards mas grandes */
.multiple-cards-big{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-big {
  width: 1000px;
  height: 150px;
  background: linear-gradient(135deg, #783d78, #300b4a);
  color: white;
  padding: 30px;
  border-radius: 20px;
  font-size: 50px;
  cursor: pointer;
}
.card-big:hover {
    transform: scale(1.01);
    transition: 0.2s;
    background: linear-gradient(135deg, #1f0830, #783d78);
    cursor: pointer;
}

#patientCalendar {
  width: 100%;
}

/* Este no es un modal, sino el overlay al aparecer el modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
/* Esto se diferencia de la class modal-overlay porque son los elementos dentro de la card*/
#modalStyle {
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: right;
    background-color: #313b54;
    color: white;
    font-size: 25px;
}

#formStyle {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formStyle input {
    width: 100%;
    max-width: 800px;
}

.form-big {
    width: 98%;
    margin: 10px auto 30px auto;
}

/* FORMS */
input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button.primary {
    margin-top: 15px;
    background: #77AEBA;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

/* CALENDAR */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 15px;
}

.day {
    border: 1px solid #ccc;
    min-height: 120px;
    padding: 5px;
}

.fc-daygrid-day:hover {
  background: #eef6f8;
  cursor: pointer;
}

.fc-toolbar-title {
  font-size: 12px;
  font-weight: lighter;
  color: #2a2a2a;
  font-family: Arial, Helvetica, sans-serif;
}

.appointment {
    background: #4caf50;
    color: white;
    margin-top: 5px;
    padding: 4px;
    font-size: 12px;
}

.day-schedule {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* Sobre la tabla al clickear en un dia */
.schedule-table {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
}

.row {
    display: grid;
    grid-template-columns: 100px 1fr;
    border-bottom: 1px solid #ddd;
}
.row:last-child {
  border-bottom: none;
}
.hour {
    width: 60px;
    padding: 10px;
    font-weight: bold;
    border-right: 1px solid #ddd;
    background: #f9fafb;
    color: #2d2d2d;
}

.slots {
    flex: 1;
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.calendar-box {
    min-width: 180px;
    max-width: 250px;
    height: 75px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    min-width: 120px;
}

.calendar-box.available {
    background: #5a5dc3;
}

.calendar-box.occupied {
    background: #8a39c4;
}

.calendar-box:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

/* Para las cards en Mis Turnos */
.appointment-row {
  width: 75%;
  height: 150px;
  background: rgb(226, 226, 226);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;

  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
}

.appointment-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 28px;
  color: #2c2c2c;
  padding: 6px;
}
.appointment-row:hover {
    transform: scale(1.03);
    box-shadow: #2c2c2c;
    cursor: pointer;
}

.appointment-date {
    font-size: 20px;
    color: #2a2a2a;
    padding: 10px;
}

.confirm-card {
  width: 350px;
  background: rgb(221, 221, 221);
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 8px 25px rgba(0,0,0,0.2);
}